EAMUI/Web References/TrhWS/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://richmondhill.local/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://richmondhill.local/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://richmondhill.local/">
      <s:element name="HelloWorld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inputStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getADUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="start" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getADUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getADUserInfoResult" type="tns:ArrayOfUserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserInfo" nillable="true" type="tns:UserInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="department" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="division" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="manager" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="streetAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="samAccountName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="displayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="office" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="postalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="facsimileTelephoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telephoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="otherPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="thumbnailPhoto" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="distinguishedName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getAllADUserInfofromDept">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deptdiv" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllADUserInfofromDeptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllADUserInfofromDeptResult" type="tns:ArrayOfUserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfUserInfo" nillable="true" type="tns:ArrayOfUserInfo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getADUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getADUserInfo" />
  </wsdl:message>
  <wsdl:message name="getADUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getADUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getAllADUserInfofromDeptSoapIn">
    <wsdl:part name="parameters" element="tns:getAllADUserInfofromDept" />
  </wsdl:message>
  <wsdl:message name="getAllADUserInfofromDeptSoapOut">
    <wsdl:part name="parameters" element="tns:getAllADUserInfofromDeptResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn">
    <wsdl:part name="inputStr" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getADUserInfoHttpGetIn">
    <wsdl:part name="start" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getADUserInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfUserInfo" />
  </wsdl:message>
  <wsdl:message name="getAllADUserInfofromDeptHttpGetIn">
    <wsdl:part name="deptdiv" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllADUserInfofromDeptHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfUserInfo" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn">
    <wsdl:part name="inputStr" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getADUserInfoHttpPostIn">
    <wsdl:part name="start" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getADUserInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfUserInfo" />
  </wsdl:message>
  <wsdl:message name="getAllADUserInfofromDeptHttpPostIn">
    <wsdl:part name="deptdiv" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAllADUserInfofromDeptHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfUserInfo" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This is for testing!!!</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getADUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrive User info from AD</wsdl:documentation>
      <wsdl:input message="tns:getADUserInfoSoapIn" />
      <wsdl:output message="tns:getADUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllADUserInfofromDept">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrive all User info from AD within the same department or division</wsdl:documentation>
      <wsdl:input message="tns:getAllADUserInfofromDeptSoapIn" />
      <wsdl:output message="tns:getAllADUserInfofromDeptSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This is for testing!!!</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getADUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrive User info from AD</wsdl:documentation>
      <wsdl:input message="tns:getADUserInfoHttpGetIn" />
      <wsdl:output message="tns:getADUserInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllADUserInfofromDept">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrive all User info from AD within the same department or division</wsdl:documentation>
      <wsdl:input message="tns:getAllADUserInfofromDeptHttpGetIn" />
      <wsdl:output message="tns:getAllADUserInfofromDeptHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This is for testing!!!</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getADUserInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrive User info from AD</wsdl:documentation>
      <wsdl:input message="tns:getADUserInfoHttpPostIn" />
      <wsdl:output message="tns:getADUserInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllADUserInfofromDept">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrive all User info from AD within the same department or division</wsdl:documentation>
      <wsdl:input message="tns:getAllADUserInfofromDeptHttpPostIn" />
      <wsdl:output message="tns:getAllADUserInfofromDeptHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://richmondhill.local/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getADUserInfo">
      <soap:operation soapAction="http://richmondhill.local/getADUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllADUserInfofromDept">
      <soap:operation soapAction="http://richmondhill.local/getAllADUserInfofromDept" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://richmondhill.local/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getADUserInfo">
      <soap12:operation soapAction="http://richmondhill.local/getADUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllADUserInfofromDept">
      <soap12:operation soapAction="http://richmondhill.local/getAllADUserInfofromDept" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getADUserInfo">
      <http:operation location="/getADUserInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllADUserInfofromDept">
      <http:operation location="/getAllADUserInfofromDept" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getADUserInfo">
      <http:operation location="/getADUserInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllADUserInfofromDept">
      <http:operation location="/getAllADUserInfofromDept" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://pwv-web3.richmondhill.local:3333/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://pwv-web3.richmondhill.local:3333/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="http://pwv-web3.richmondhill.local:3333/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="http://pwv-web3.richmondhill.local:3333/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>